html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height:100vh;
  margin: 0;
}
.container{
  display: grid;
  grid-template-areas: "header"
  "main";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1 fr;
}
header{
  grid-area: header;
  background-color: goldenrod;
  color: rgb(8, 8, 56);
}
main{
  grid-area: main;
}