html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height:100vh;
  margin: 0;
}
.container{
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 1 fr;
  height: 100%
}
a:hover{color:blueviolet}
body,input,select, textarea{
  font-size: 16px;
 

}
header a{
  text-decoration:none ;
  counter-reset: white;
  padding: 5px;
}
header{
  grid-area: header;
  background-color: rgb(136, 20, 120);
  color: rgb(245, 248, 242);
  display: flex;
  align-items: center;
  font-size: 30px;
}
main{
  grid-area: main;
}
footer{
  grid-area: footer;
  background-color: rgb(136, 20, 120);
  color: rgb(241, 241, 248);
 display : flex;
 justify-content: center;
 align-items: center;
 font-size: 30px;
}
  .products{
    display:flex;
    flex-wrap: wrap;
  }
 .main{
   flex : 30 600px;

 } 
 .sidebar{
   flex: 10 200px;
 }