.cart{
  padding: 10px;
  margin: 10px;
  display: flex;
}
.cart-header{
    border-bottom: 1px black solid;
}
.cart-items{
    padding: 0;
    width: 100%;
    list-style-type: none;
}
.cart-items img{
    width : 50px;
}
.cart-items li{
    display: flex;
}
.cart-items li div{
    padding: 5px;
}
.cart-items li div:last-child{
    flex : 1;
}
.total{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
}
.total > div{
    font-size: 20px;
}
.total > div, 
.total>button{
    flex : 1 ;
}
