.courses{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type:none;
    flex-wrap: wrap;
}
.courses li{
    flex: 10 10 290px;
    height : 470px;
    padding : 10px;
    margin: 10px;
}
.singlecourse{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.singlecourse img{
   max-width: 350px;
   max-height: 350px;
}
.coursePrice{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.coursePrice div,
.coursePrice button{
    text-align: center;
    flex:1 ;
}
.coursePrice div{
    font-size: 20px;
}
.button{
    padding: 10px;
    border: 1px rgb(49, 11, 121) ;
    background-color: yellow;
   cursor: pointer;
}
.button:hover{
    border: 1px navy solid;
}
.button.primary{
    background-color: tomato;
}